.expense-table {
    text-align: center;
    width: 100%;
}

.expense__delete {
    background-color: darkblue;
    color: white;
    border-radius: 5px;
}
.expense__delete:hover {
    cursor: pointer;
    background-color: lightblue;
}



@media screen and (min-width: 768px) {
    .expense__delete {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .expense-table {
        width: 75%;
    }
}